@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 213 100% 96%;
    --foreground: 213 31% 91%;

    --card: 213 100% 96%;
    --card-foreground: 213 31% 91%;

    --popover: 213 100% 96%;
    --popover-foreground: 213 31% 91%;

    --primary: 18 100% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 213 27% 84%;
    --secondary-foreground: 215 25% 27%;

    --muted: 213 27% 84%;
    --muted-foreground: 215 16% 47%;

    --accent: 18 100% 60%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 215 25% 27%;
    --input: 215 25% 27%;
    --ring: 18 100% 60%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 215 25% 27%;
    --foreground: 0 0% 100%;

    --card: 215 28% 17%;
    --card-foreground: 0 0% 100%;

    --popover: 215 28% 17%;
    --popover-foreground: 0 0% 100%;

    --primary: 18 100% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 215 25% 27%;
    --secondary-foreground: 0 0% 100%;

    --muted: 215 28% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 18 100% 60%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 18 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
